body, html {
  height: 100%;
  min-width: 300px;
  min-height: 220px;
  margin:0;
  background-color: #C61C5B;
}

.navbar {
    background-color: transparent;
}

.banner {
  margin:0;
	/*padding-top: 5em;*/
padding-bottom: 1em;
padding-left: 1em;
padding-right: 1em;
  /* The image used */
  background-image: url("top.jpg");
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
margin:0;
padding-top: 7em;
padding-bottom: 1em;
padding-left: 1em;
padding-right: 1em;
  /* The image used */
  background-image: url("middle.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.about {
  margin:0;
	padding-top: 2em;
padding-bottom: 5em;
padding-left: 1em;
padding-right: 1em;
  /* The image used */
  background-image: url("bottom.jpg");

  /* Full height */
  height: 100%; 
  min-width: 426px;

  /* Center and scale the image nicely */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.calendar {
padding-top: 1em;
padding-bottom: 1em;
padding-left: 1em;
padding-right: 1em;
  background-color: #250604;
  margin:0;
}

.txtcolor{
	color: #FFC602;
	font-weight: bold;
}

.logo-image{
	padding-bottom: 1em;
	max-width: 100%; 
  height: auto;
  margin:0;
  padding-right: 1em;
  padding-left: 1em;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.col{
    padding-right: 0;
    padding-left: 0;
}



.parent-div {
  height: 80vh;
  margin:0;
  max-width:1200px;
  max-height: 500px;
  padding:10px;
 /* background-color:#888;*/
  /* Center Div */
  display:block;
  margin: 0 auto;
 /* overflow: hidden;
  text-overflow: ellipsis; */
}

  
  
  @media screen and (min-width:1200px) and (min-height:500px)  {
    div.parent-div h2{
      font-size: 30px;
      padding-bottom: 12px;
    }
    div.parent-div p {
      font-size: 18px;
      padding-bottom: 8px;
    }  
  }

 
